#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: 1.3rem;
}

.title {
  font-size: 2rem;
}

.recipe-title, .recipe-description {
  margin: 0;
}

.recipe-title {
  font-size: 1.3rem;
  margin-top: 24px;
}

.recipe-description {
  font-size: 1rem;
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.card {
  background-color: #f3f3f3;
  border-radius: 8px;
  width: 300px;
  min-height: 300px;
  padding: 24px;
}

.button {
  background-color: brown;
  color: white;
  margin-top: 24px;
}